  
 .myhealth{
text-align: left;

 }

 .textt{

font-size: 15px;

text-align: center;
font-style: italic;
text-align: left;

 }
 

#eyehealth{

	background-image: url("../../image/eye1.jpg");
	background-size: 100%;
background-repeat: no-repeat;
margin-bottom: 0px;
}
 
.mytext1{
	color: #7f8c8d;
}
.mylist{
	list-style-type: none;
}
 
  
.textstyle{
	text-align: left;
	 padding-left: 60px;
	 font-style: italic;
}

.bgstyle{
 background-color: #ecf0f1; 
 padding-bottom: 10px;
 padding-top: 10px;
}
 .segment-three h2{
 	color: #ecf0f1;
 	 text-transform: uppercase;
 }

.segment-three a{
	background-color: 
	width:40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
}

.segment-three a i{
	font-size: 20px;
	color:#ecf0f1;
	padding: 10px 12px; 
}

 .segment-four h2{
 	color: #ecf0f1;
 	 text-transform: uppercase;}


.segment-four form input[type=submit]{
background-color: #e74c3c;
border:none;
padding: 3px 15px;
margin-left:-5px   ;
color: #ecf0f1;
text-transform: uppercase; 

}
.textcolor {
	color: #ecf0f1; 
}
.footer-text-bottom{
	text-align: center;
	background-color: #7f8c8d;
	line-height: 75px;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #2980b9;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
























